<nav class="navbar navbar-dark nbar--color">
    <a class="navbar-brand" href="#">{{title}}</a>
    <a href="https://www.linkedin.com/in/falarcond/es">
        <span class="navbar-text">
            Fabian Alarcón © 2019
        </span>
    </a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="input">{{inputMsj}}</label>
                <textarea class="form-control" id="input" (change)="updateBulkEdit($event)" rows="10"
                    placeholder="{{inputPlaceholder}}"></textarea>
            </div>
        </div>
        <div class="col-lg-2 column--position-center">
            <button type="button" class="btn btn-primary" (click)="getCubeSummation()" [disabled]="loading">
                {{execButton}}
            </button>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <label for="output">{{outputMsj}}</label>
                <textarea class="form-control" id="output" (change)="updateBulkEdit($event)" rows="10"
                    placeholder="{{outputPlaceholder}}" readonly>{{result}}</textarea>
            </div>
        </div>
    </div>

    <div class="alert alert-dismissible fade show" role="alert" [ngClass]="getAlertType()" *ngIf="showAlert">
        <strong>{{alert.title}}</strong> {{alert.subtitle}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>