@import '../sass/var';

textarea {
    resize: none;
}

.container {
    margin-top: $default-margin-top;
}

.nbar {
    &--color {
        background-color: $navbar-color;
    }
}

.column {
    &--position-center {
        text-align: center;
        align-self: center;
    }
}

a span:hover {
    color: white;
}